{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.display_name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn">Register</button>
        <p>Or <a href="{{ path('app_login') }}">login</a></p>
    {{ form_end(registrationForm) }}
{% endblock %}
